<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet"  href="AdminPage.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="AdminPage.js" type="application/javascript" rel="script"></script>

    <!-- for auto complete -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/css/select2.min.css" rel="stylesheet" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1-rc.1/js/select2.min.js"></script>
    <script src="feedback.js"></script>
    <link href="jquery.loadmask.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="jquery.loadmask.js"></script>
    <style type="text/css">
        .button #placeholder
        {
            align-items: center;
            text-align: center;
        }
        .values
        {
            visibility: hidden;
            display: none;
        }
        h3{
            color: black;
        }
        .navbar-default{
            background-color: seagreen;
        }
    </style>

    <!--  select lib for -->
</head>

<body ng-app="feedbackApp" ng-controller="FeedbackController">
<?php
session_start();

if(!isset($_SESSION['username'])){
    header('Location: login.html');
}

?>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <h3 align="center"><b>Presentation Feedback System</b></h3>
</nav>
<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    StudentHome Page
                </a>
            </li>
            <li>
                <a href="Calendar.html">Calendar</a>
            </li>
            <li>
                <a href="listOfPresentations.html">List of Presentations</a>
            </li>
            <li>
                <a href="profile.php">Profile</a>
            </li>
            <li>
                <a href="history.html">History</a>
            </li>
            <li>
                <a href="Feedback.html">Feedback</a>
            </li>
            <li>
                <a href="viewFeedback.php">View Feedback</a>
            </li>
            <li>
                <a href="logout.php">logout</a>
            </li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <br><br>

    <!--<div ng-include = "'AdminPage.html'"></div>-->




    <!--<br class="form-horizontal" style="margin-left: 1em;"  >-->
    <div class="container">
        <div class="col-sm-10">
            <div class="form-group" >
                <label class="col-sm-5 control-label">Course:</label>
                <select id="courseName"
                        ng-model="courseModel"
                        class="js-example-basic-multiple"
                        style="width: 13em;"
                        ng-change="updateSection()">
                    <option ng-repeat="course in courses" value="{{course.courseId}}" > {{course.courseName}}</option>

                </select>
            </div>

            <div class="form-group" >
                <label class="col-sm-5 control-label">Section:</label>


                <select id="sectionNumber"
                        ng-model="updatedSectionModel"
                        class="js-example-basic-multiple"
                        style="width: 13em;"
                        ng-change="updatePresenterName()">
                    <option ng-repeat="sections in updatedSection" value="{{sections.section}}" > {{sections.section}}</option>

                </select>



            </div>

            <div class="form-group" >

                <label class="col-sm-5 control-label">    Presenter Name:</label>
                <div class="col-sm-20">
                    <select id="presenterName"
                            ng-model="updatedPresenterNameModal"
                            class="js-example-basic-multiple"
                            style="width: 13em;"
                            ng-change="updateTopicName()">
                        <option ng-repeat="presenters in updatedPresenterNames" value="{{presenters.PresenterId}}" > {{presenters.Presenter}}</option>

                    </select>

                </div>
            </div>

            <div class="form-group" >

                <label class="col-sm-5 control-label">Topic</label>
                <div class="col-sm-20">
                    <select id="topicName"
                            ng-model="updatedTopicNameModel"
                            class="js-example-basic-multiple"
                            style="width: 13em;"
                    >
                        <option ng-repeat="topic in updatedTopicNames" value="{{topic.topicName}}" > {{topic.topicName}}</option>

                    </select>
                </div>
            </div>
            <div class="button"> <button class="btn btn-success"  ng-click="showQuestions()"> search </button></div>

            <br>
            <div class="inner" id="questionsArea">



            </div>
            <br>
            <div id="feedbackDIv" style="display: none;">
                <div>
                    <label>Comments:</label>
                    <div>

                        <textarea ng-model="txtcomment" id="comments" rows ="4" placeholder="Your Comments" style='width:550px'></textarea>

                    </div>
                </div>

                <br>
                <div class="button"> <button class="btn btn-success" id="submitFeedback" ng-click="submitFeedback()"> Submit </button></div>
            </div>

        </div>
        </form>

        <div id="classCreatedModal" class="modal fade" role="dialog">

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="titleArea"> Class Created </h4>

                    </div>

                    <div class="modal-body" id="messageArea">

                        Successfully created class.

                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>


                </div>

            </div>



        </div>

        <script type="text/javascript">
            $('select').select2();
            $(".js-example-basic-multiple").select2();


            var mainApp = angular.module("myApp", []).controller('tagsCtrl', ['$scope', function($scope) {

            }]);

            $(document).ready(function()
            {
                $('plachedolder').click(validation())
            });
            function validation()
            {
                $('.row').show();
            }

        </script>
    </div>
</div></body>
</html>